<div class="page-header">
	<h1>编辑用户</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12 form-horizontal">
	<!-- PAGE CONTENT BEGINS -->
	{{ range .Users }}
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-id">Id:</label>

			<div class="col-sm-9">
				<input type="text" readonly="" id="form-field-id" value="{{ .Id }}" class="col-xs-10 col-sm-5" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-name">用户名:</label>

			<div class="col-sm-9">
				<input type="text" id="form-field-name"  value="{{ .Username }}" class="col-xs-10 col-sm-5" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-input-email">Email:</label>

			<div class="col-sm-9">
				<input type="text" id="form-field-email"  value="{{ .Email }}" class="col-xs-10 col-sm-5"/>							
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-status">状态:</label>

			<div class="col-sm-9">
				<select id="form-field-status">
					{{ if eq 2 .Status }}
						<option value="2" selected = "selected" >启用</option>
						<option value="1">禁用</option>
					{{else}}
						<option value="2">启用</option>
						<option value="1" selected = "selected">禁用</option>
					{{end}}
				</select>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-info" id="submit">
					<i class="icon-ok bigger-110"></i>
						保存
				</button>

				&nbsp; &nbsp; &nbsp;
				<button class="btn" id="cancel">
					<i class="icon-undo bigger-110"></i>
						取消
				</button>
			</div>
		</div>
	{{end}}
	</div>
</div>

<script type="text/javascript">
	$('#submit').click(function(){
		var id  = $('#form-field-id').val();
		if (id == ""){
			alert("Id 为空！");
			return false;
		}
		var name = $('#form-field-name').val();
		if (name == ""){
			alert("用户名 为空！");
			return false;
		}
		var email = $('#form-field-email').val();
		if (email == ""){
			alert("Email 为空！");
			return false;
		}
		var status = $('#form-field-status').val();
		if (status == ""){
			alert("状态 为空！");
			return false;
		}
		$.post(
			'/admin/user/UpdateUser',
			{
				Id:id,
				Username:name,
				Email:email,
				Status:status,
			},
			function(data){
				if (data == "1"){
					alert("提交成功！");
					$('#jumpDialog').hide();
				}else{
					alert(data);
				}
			}
		);
	});
	
	$('#cancel').click(function(){
		$('#jumpDialog').hide();
		return false;
	});
</script>